body {
    text-align: center;
    font-family: Arial;
    background-color: #f0f0f0;
}

.classroom {
    position: relative;
    margin-top: 30px;
}

.teacher {
    width: 150px;
    position: absolute;
    left: 20%;
    top: 20px;
}

.students {
    width: 150px;
    margin-top: 150px;
}

.board {
    background-color: #1b5e20;
    color: white;
    width: 50%;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    min-height: 150px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
}
